<app-header></app-header>
<div class="container">
    <div>
        <!-- Left Side Bar-->
        <div class="sidebar">
            <main class="leftSideCards">
                <article class="card">
                    <div>
                        <h3>Filters</h3>
                        <p class="launchYear">Launch Year</p>
                    </div>
                    <span *ngFor="let item of years">
                        <input class="checkbox-budget" type="radio" name="budget" [id]="item">
                        <label (click)="launchYearClick(item)" class="for-checkbox-budget" [for]="item">
                            <span>{{item}}</span>
                        </label>
                    </span>

                    <div>
                        <p class="launchYear">Successfull Launch</p>
                    </div>
                    <span>
                        <input class="checkbox-budget" type="radio" name="launch" id="launchTrue">
                        <label (click)="launchTrueFalseClick(true)" class="for-checkbox-budget" for="launchTrue">
                            <span>True</span>
                        </label>
                        <input class="checkbox-budget" type="radio" name="launch" id="launchFalse">
                        <label (click)="launchTrueFalseClick(false)" class="for-checkbox-budget" for="launchFalse">
                            <span>False</span>
                        </label>
                    </span>
                    <div>
                        <p class="launchYear">Successfull Landing</p>
                    </div>
                    <span>
                        <input class="checkbox-budget" type="radio" name="landing" id="landingTrue">
                        <label (click)="landingTrueFalseClick(true)" class="for-checkbox-budget" for="landingTrue">
                            <span>True</span>
                        </label>
                        <input class="checkbox-budget" type="radio" name="landing" id="landingFalse">
                        <label (click)="landingTrueFalseClick(false)" class="for-checkbox-budget" for="landingFalse">
                            <span>False</span>
                        </label>
                    </span>
                </article>
            </main>
        </div>
        <!-- Left Side Bar End-->
        <!-- Right Side Bar-->
        <div class="contentArea">
            <main class="cards">
                <article class="card" *ngFor="let item of launchList; let i = index">
                    <img [src]="item.links.mission_patch" alt="Sample photo">
                    <div class="text">
                        <h3><strong>{{item?.mission_name}} #{{item?.flight_number}}</strong></h3>
                        <p><strong>Launch Year:</strong> {{item?.launch_year}}</p>
                        <p><strong>Successful Launch:</strong> {{item?.launch_success}}</p>
                    </div>
                </article>
                <article class="card" *ngIf="launchList?.length == 0">
                    <div class="text">
                        <h3><strong>Loading...</strong></h3>
                    </div>
                </article>
            </main>
        </div>
        <!-- Right Side Bar End-->
    </div>
</div>
<app-footer></app-footer>